allow toolbox media_device:dir { write add_name search };
allow toolbox media_device:fifo_file create;
allow toolbox toolbox:capability dac_override;
allow toolbox radio_device:dir { write add_name search };
allow toolbox radio_device:fifo_file create;

